
.nav-locked{
	/* position:absolute; */
	/* top:200px;
	left:6px; */

}

.nav-cat {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
	border:1px solid #bbb;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 
}

.nav-cat>div.item {
	padding-bottom:5px;
  padding-top:5px;
  padding-left:16px;
  padding-right:10px;
}

.nav-cat>div.item:hover {
		 background-image: none;
     color: white;
     background-color: rgb(0, 129, 194);
     background-color: rgba(0, 129, 194, 0.5);
}

.nav-cat>div>i {
	margin-left:40px;
}

.nav-subcats {
	display: none;
	position:absolute;
	background-color: #EEF6F6;
	border:1px solid #bbb;
}

.nav-subcat {
	padding-bottom:5px;
  padding-top:5px;
  padding-left:16px;
  padding-right:16px;
  content:center;
}

.nav-subcat-section>div.nav-subcat-title {
	float:left;
	width:96px;
	text-align: right;
}

.nav-subcat-section>div.nav-subcat-links {
	float:right;
}

.nav-subcat-title>a.nav-title {
	padding-right: 15px;
}
.nav-subcat-links>a.nav-item {
	padding-left: 10px; 
	padding-right: 9px;
}

span.nav-title-text {
	color:#FBC192;
}

.nav-subcats>div.nav-subcat {
	display: none;
}

.sort-section {
	padding-bottom:5px;
  padding-top:5px;
  padding-left:16px;
  padding-right:16px;
  content:center;
}

.sort-item {
	margin-right: 10px;
}

.placeHolder { background-color:white ; border: 1px solid #424141; width:20px; height:20px;   opacity: 0.4;}

/* .placeHolder  { width:10px; height:10px; border:solid 1px black; background-color:#E0E0E0; text-align:center; padding-top:5px; } */

.sort-section {
	background-color: #BBBBBB;
	border:1px solid #424141;
	height: 20px;
	width: 400px;
}

.add-line {
	margin-right:20px;
	float:left;
	cursor:pointer;
}
