
.nav-locked{
	position:absolute;
	top:30px;
	left:6px;

}

.nav-cat {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
	border:1px solid #bbb;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 
}

.nav-cat>div.item {
	padding-bottom:5px;
  padding-top:5px;
  padding-left:16px;
  padding-right:10px;
}

.nav-cat>div.item:hover {
	 background-image: none;
     color: white;
     background-color: rgb(0, 129, 194);
     background-color: rgba(0, 129, 194, 0.5);
}

.nav-cat>div>i {
	margin-left:40px;
}

.nav-subcats {
	display: none;
	position:absolute;
	background-color: #bbb;
}

.nav-subcats>div.nav-subcat {
	display: none;
}



